<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <title>CricGO!</title>
    <link rel="stylesheet" href="homepage.css">
</head>

<body>
    <div class="container">
        <header>
            <img src="cric3removed2.png" alt="logo" class="logo" height="10px"/>
            <p></p>
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">BOOKINGS</a></li>
                    <li><a href="">FAQS</a></li>
                    <li><a href="">PROFILE</a></li>
                </ul>
            </nav>
        </header>
        <div id="main">
            <!-- <%= type %> -->
            <% if(type=="signup"){ %>
            <div id="signin" class="box" style="display: none;">
            <% }else if(type=="login"){ %>
            <div id="signin" class="box" style="display: block;">
            <% }else{ %>
            <div id="signin" class="box">
            <% } %>
            <!-- <div id="signin" class="box"> -->
                <form action="/login" method="POST">
                    <h1 style="text-align: center">SIGN IN</h1>

                    <label>Username:
                        <input type="text" name="username" placeholder="Name" required>
                    </label><br>


                    <label>Password:
                        <input type="Password" name="password" placeholder="Enter Password" required>
                    </label>
                    <!-- <%=type%> -->
                    <% if(type=="login") %><p><%=msg %></p>
                    <br>



                    <!-- <p><a href="">Sign In!</a></p> -->
                    <!-- <p><a href="">Sign Up!</a></p>
                <p><a href="">Agent Login</a></p>
                 -->
                    <div class="buttons">
                        <button type="submit" class="subbut">Sign In</button>
                        <p class="in_up">Sign Up</p>
                        <p class="apage"><a href="/agent" class="apage"><span class="apage">Agent Login</span></a></p>
                    </div>
                </form>
            </div>
            <!-- <%=type%> -->
            <% if(type=="login"){ %>
            <div id="signup" class="box" style="display: none;">
            <% }else if(type=="signup"){ %>
            <div id="signup" class="box" style="display: block;">
            <% }else{ %>
            <div id="signup" class="box">
            <% } %>
            <!-- <div id="signin" class="box"> -->
                <form action="/register" method="POST">
                    <h1 style="text-align: center">SIGN UP</h1>

                    <label>Userame:
                        <input type="text" name="username" placeholder="Name" required>
                    </label><br>

                    <label>Email:
                        <input type="email" name="email" placeholder="Enter Email" required>
                    </label><br>
                    <label>Password:
                        <input type="Password" minlength="8" name="password" placeholder="Enter Password" required>
                    </label><br>

                    <label>Confirm Password:
                        <input type="Password" minlength="8" name="confirm" placeholder="Enter Password" required>
                    </label>
                    <!-- <%=type%> -->
                    <% if(type=="signup") %><p><%=msg %></p>
                    <br>


                    <label>Birth Date:</label>
                    <input type="date" name="dob" required><br>

                    <!-- <p><a href="">Sign In!</a></p> -->
                    <!-- <p><a href="">Sign Up!</a></p>
                <p><a href="">Agent Login</a></p>
                 -->
                    <div class="buttons">
                        <button type="submit" class="subbut">Sign Up</button>
                        <p class="up_in">Sign In</p>
                        <p class="apage"><a href="/agent" class="apage"><span class="apage">Agent Login</span></a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var insign = document.getElementById("signin");
        var up = document.getElementById("signup");
        document.querySelector(".in_up").addEventListener("click", () => {
            insign.style.display = "none";
            up.style.display = "block";
            // document.querySelector(".in_up").textContent="hey";
        });
        document.querySelector(".up_in").addEventListener("click", () => {
            insign.style.display = "block";
            up.style.display = "none";
            // document.querySelector(".in_up").textContent="hey";
        });
    </script>

</body>

</html>